@use "../../assets/colours.scss" as *;

span {
  font-weight:400;
  font-size: 16px;
  color: $secondary-colour;
}

.card {
  font-family:monospace;
  background-color: $white-grey-colour;
  padding: 1em;
  font-size: 1em;

  &__name {
    font-size: 2em;
    color: $splash-colour;
  }
}