@use "../../assets/colours.scss" as *;

span {
  font-weight:400;
  font-size: 1em;
  color: $secondary-colour;
}

.card {
  background-color: $white-grey-colour;
  padding: 1em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__name {
    font-size: 2em;
    color: $splash-colour;
  }

  &__details {
    color: $dark-colour;
  }
}