@use "../../assets/colours.scss" as *;

.log-form {
  width: 80vw;
  background: #ffff;
  margin: 200px auto;
  box-shadow: 0px 2px 3px rgba(0,0,0,.25);

  &__header {
    color: #ffff;
    font-size: 1.5em;
    background: #43aa8b;
    padding: .75em 1em .75em 1.5em;
    font-weight: 200;
  }

  &__form {
    display: block;
    padding: 2em;
    background-color: $white-colour;

    &__input-area {
      display: block;
      margin: auto auto;
      width: 100%;
      margin-bottom: 2em;
      padding: .5em .5em;
      border: none;
      border-bottom: 1px solid $white-grey-colour;
      background-color: $white-colour;
      padding-bottom: 1.25em;
      color: #757575;
      &:focus {
        outline: none;
      }
    }

    &__error::before {
      display: inline;
      content: "⚠ ";
    }

    &__btn-wrapper {
      display: flex;
      justify-content: flex-end;
      background-color: $white-colour;
    }
  
    .btn {
      display: inline-block;
      background: $primary-colour;
      border: 1px solid darken($primary-colour, 5%);
      padding: .5em 2em;
      color: white;
      margin-right: .5em;
      box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
      &:hover {
        background: lighten($primary-colour, 5%);
      }
      &:active {
        background: $primary-colour; 
        box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
      }
      &:focus {
        outline: none;
      }
    }
  }
}

